<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<!-- TODO: Add a button/link to change current city. AJAX -->
<!-- No need for a form with all data -->
<p>Current city: <%= @user.current_city %></p>
<p>Joined: <%= @user.created_at.strftime("%m/%d/%Y") %></p>
<br>
<%= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>
<br><br>
<%= link_to 'Edit profile', edit_user_path(@user) %>
<br>

<h2>My travel logs:</h2>
<ul>
  <% @user.logs.each do |log| %>
    <li><%= link_to "#{log.title}", user_log_path(@user, log, user:"true") %></li>
  <% end %>
</ul>