<% if @city %>  <!-- some city other than current_city -->

  <h1><small>Travel Log for: </small><%= @city.name %></h1>
  <br>

  <%= form_for @log, url: user_logs_path do |f| %>
    <%= f.label "Title: " %>
    <%= f.text_field :title, autofocus: "true" %><br><br>
    <%= f.label "Content: " %><br>
    <%= f.text_area :content, size: "60x12" %>
    <%= f.hidden_field :city_id, value: @city.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Post" %>
  <% end %>

<% else %> <!-- current_city -->

  <h1><small>Travel Log for: </small><%= current_city.name %></h1>
  <br>

  <%= form_for @log, url: user_logs_path do |f| %>
    <%= f.label "Title: " %>
    <%= f.text_field :title, autofocus: "true" %><br><br>
    <%= f.label "Content: " %><br>
    <%= f.text_area :content, size: "60x12" %>
    <%= f.hidden_field :city_id, value: current_city.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.submit "Post" %>
  <% end %>

<% end %>



<%#= form_for @log, :url => logs_path, :html => { :multipart => true } do |f| %>
  <%#= #f.file_field :image %>
<%# end %>